a, .page-link {
    color: #28a745;  
}

a:not(.btn-success):not(.active):not(.page-link):not(.btn-dark):hover {
    color: #218838 !important;
}

.page-item:not(.active) .page-link:hover {
    color: #218838 !important;
}

.page-item.active .page-link {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0rem !important; 
}

.login-page, .register-page{
    background-image: url('/img/background-image-2.png');
    background-size: 1920px 1080px;
}

.brand-image {
    margin-left: .5rem !important;
}

.register-box {
    padding: 1% 0 !important;
}

.login-card-body, .register-card-body {
    border-radius: 0% !important;
}

.card.station {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.125) !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
    border-right: 1px solid rgba(0,0,0,.125) !important;
}

/* active tabs (faded) */
.nav-tabs .tab-1 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.nav-tabs .tab-2 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.nav-tabs .tab-3 .nav-link.active {
    background-color: #28a745;
    color: white;
}

.highcharts-container, .highcharts-root, .highcharts-background, .highcharts-plot-background {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
}

.daily-average-icon {
    color: #28a745 !important;
}

text.highcharts-credits {
    display: none !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.modal-header {
    background-color: #28a745;
}

button.close, button.close:hover {
    color: white;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    background-color: #28a745 !important;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
}
.select2-selection__arrow {
    height: 37px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
}

#keyword:disabled:hover {
    cursor: not-allowed;
}

// #infection_tree {
//     overflow-x: scroll;
// }

#infection_tree {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    height: 72vh;
    width: calc(100% - 24px);
    border: 2px dashed #28a745;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.orgchart .node .title {
    background-color: #28a745 !important;
}

.w-100-responsive {
    width: calc(100%) !important;
}